[x] Modal for contact
[x] Make contact form work
[x] Success page for sending email
[x] Add contact transition
[x] Add close button on top of modal

[x] Fix bug for mobile view, sticky part
[x] Fix nav bug mobile view
[x] Fix recent work sticky nav on mobile
- Adding overlow hidden removes the sticky style
[] Replace lorem ipsum in recent work
[] Search more design


[x] Buy domain
[x] Set up domain
[] Add captcha (Website should be up)
[] Add certificate (Need to pay)
